.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navigation-container {
  background-color: #3f51b5; /* Background color */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; /* Ensures it doesn't go outside the screen */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.main-content {
  flex: 1;
  margin-top: 60px; /* Adjust based on the height of the navigation bar */
  padding: 20px;
  overflow-y: auto;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 40px; /* Adjust height as needed */
  width: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Adjust spacing between logo and title */
  border-radius: 8px;
  margin-top: 5px;
  margin-left: 15px; /* Reduced margin for smaller header */
}

.header-title {
  margin: 0; /* Remove default margin */
  font-size: 20px; /* Adjust font size */
  margin-left: 5px;
  color: #fff; /* Ensure the title color is white */
}

.icon-container {
  display: flex;
  align-items: center;
}

.nav-icon {
  font-size: 24px; /* Adjust size */
  margin: 0 10px;
  cursor: pointer;
  color: #fff; /* Icon color */
}

.nav-icon:hover {
  color: #1f33a7;
}

.search-form {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  padding: 0 5px;
  height: 40px;
  flex-grow: 1;
  max-width: 500px;
}

.search-input {
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 20px;
  margin-right: 10px;
  flex-grow: 1;
}

.search-button {
  padding: 5px 10px;
  border: none;
  outline: none;
  background-color: #6422ff;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a,
.nav-button {
  color: #fff; /* Link and button text color */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  font-family: inherit; /* Ensuring the font family is the same */
  font-size: inherit; /* Adjust font size */
}

.nav-links a:hover,
.nav-button:hover {
  color: #1f33a7; /* Hover color */
}

.nav-button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 820px) {
  .navigation-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .search-form {
    margin: 10px 0;
    order: 2;
    width: 100%;
  }

  .icon-container {
    order: 1;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    display: none; /* Hide initially */
    padding: 0 20px;
  }

  .nav-links.active {
    display: flex; /* Show when active */
  }

  .nav-links li {
    width: 100%;
    margin: 10px 0;
  }

  .hamburger {
    display: block;
  }
}

@media (min-width: 821px) {
  .hamburger {
    display: none;
  }
}
